<template>
  <div>
          <div class="md-layout md-gutter">
            <nav-bar />
          </div>
          <div class="md-layout md-gutter md-alignment-center-center">
            <div class="md-layout-item md-size-50">
                <div class="md-layout-item">
                        <h1 class="md-title">Usuários</h1>
                </div>
                <div class="md-layout-item">
                    <form id="billForm" @submit.prevent="validateBeforeSubmit">
                    <md-card>
                        <md-card-content>
                            <md-card>
                                <md-card-content>
                                    <md-field>
                                        <label>Nome</label>
                                        <md-input data-vv-as="Nome do Usuário" name="nameUser" v-validate="'required'" v-model="user.name" placeholder="Nome do Usuário"></md-input>
                                        <p class="text-danger" v-if="errors.has('nameUser')">{{ errors.first('nameUser') }}</p>
                                    </md-field>
                                </md-card-content>
                            </md-card>
                        <md-card-actions>
                            <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
                            <md-button class="md-raised md-accent" type="button"><router-link :to="{path: '/'}" style="color: white;">Cancelar</router-link></md-button>
                        </md-card-actions>
                    </md-card-content>
                </md-card>
                </form>
                </div>
            </div>
          </div>
  </div>

</template>
<script>
export default {
  data () {
    return {
      user: {
        name: ''
      }
    }
  },

  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          var app = this;
          var newUser = app.user;
          this.$axios.post('/user/', newUser)
            .then(function (resp) {
              app.$swal('Sucesso', 'Usuário inserido com sucesso', 'success');
              app.$router.push({path: '/'});
            })
            .catch(function (resp) {
              app.$swal('Erro', 'Ocorreu um erro na inserção do usuário', 'warning');
            });
        }
      });
    }
  }
}
</script>
