<template>
  <sidebar-menu theme="white-theme" collapsed :menu="menu" />
</template>

<script>
export default {
  data () {
    return {
      menu: [
        {
          header: true,
          title: 'Menu Principal'
        },
        {
          title: 'Faturas',
          child: [
            {
              href: '/bill/create',
              title: 'Cadastrar Fatura',
              icon: 'fas fa-file-medical'
            },
            {
              href: '/bill/',
              title: 'Listar Faturas',
              icon: 'fas fa-file'
            }
          ]
        },
        {
          title: 'Cadastrar Usuário',
          href: '/user/create'
        }
      ]
    }
  }
}
</script>

<style>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.v-sidebar-menu {
  background-color: #448aff;
}

.collapse-btn {
  background-color: #448aff !important;
}
</style>
<style lang="scss">
    $fa-font-path : "~@fortawesome/fontawesome-free-webfonts/webfonts";
    @import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
    @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
    @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
    @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
</style>
