<template>
  <div>
          <div class="md-layout md-gutter">
            <nav-bar />
          </div>
          <div class="md-layout md-gutter md-alignment-center-center">
            <div class="md-layout-item md-size-50">
                <div class="md-layout-item">
                        <h1 class="md-title">Faturas</h1>
                </div>
                <div class="md-layout-item">
                    <form id="billForm" @submit.prevent="validateBeforeSubmit">
                    <md-card>
                        <md-card-content>
                            <md-card>
                                <md-card-content>
                                    <md-field>
                                        <label>Nome da Empresa</label>
                                        <md-input data-vv-as="Nome da Empresa" name="nameCompany" v-validate="'required'" v-model="bill.nameCompany" placeholder="Nome da Empresa"></md-input>
                                        <p class="text-danger" v-if="errors.has('nameCompany')">{{ errors.first('nameCompany') }}</p>
                                    </md-field>
                                </md-card-content>
                            </md-card>
                            <md-card>
                                <md-card-content>
                                    <md-field>
                                        <label>Valor</label>
                                        <md-input data-vv-as="Valor" name="value" v-validate="'required|numeric'" v-model="bill.value" placeholder="Valor"></md-input>
                                        <p class="text-danger" v-if="errors.has('value')">{{ errors.first('value') }}</p>
                                    </md-field>
                                </md-card-content>
                            </md-card>
                            <md-card>
                                <md-card-content>
                                    <md-field>
                                        <label>Usuário</label>
                                        <md-select data-vv-as="Usuário" name="user" v-validate="'required'" v-model="bill.user._id">
                                            <md-option v-for="(info) in users" :key="info._id" :value="info._id">{{info.name}}</md-option>
                                        </md-select>
                                        <p class="text-danger" v-if="errors.has('user')">{{ errors.first('user') }}</p>
                                    </md-field>
                                </md-card-content>
                            </md-card>
                            <md-card>
                                <md-card-content>
                                    <md-switch v-model="bill.paid"><label>Pago</label></md-switch>
                                </md-card-content>
                            </md-card>
                            <md-card>
                                <div align="left">
                                    <md-card-content >
                                        <date-picker data-vv-as="Data de Vencimento" name="dueDate" v-validate="'required'" lang="pt-br" placeholder="Data de Vencimento" format="DD-MM-YYYY" v-model="bill.dueDate" :first-day-of-week="1"></date-picker>
                                        <p style="float: right;" class="text-danger" v-if="errors.has('dueDate')">{{ errors.first('dueDate') }}</p>
                                    </md-card-content>
                                </div>
                            </md-card>
                        <md-card-actions>
                            <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
                            <md-button class="md-raised md-accent" type="button"><router-link :to="{name: 'ListBill'}" style="color: white;">Cancelar</router-link></md-button>
                        </md-card-actions>
                    </md-card-content>
                </md-card>
                </form>
                </div>
            </div>
          </div>
  </div>

</template>
<script>
export default {
  data () {
    return {
      bill: {
        _id: null,
        nameCompany: '',
        value: null,
        dueDate: null,
        paid: false,
        user: []
      },
      users: []
    }
  },

  mounted () {
    this.getBill();
    this.getUsers();
  },

  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          var app = this;
          var newBill = app.bill;
          this.$axios.put('/bill/' + newBill._id, newBill)
            .then(function (resp) {
              app.$swal('Sucesso', 'Fatura atualizada com sucesso', 'success');
              app.$router.push({path: '/'});
            })
            .catch(function (resp) {
              app.$swal('Erro', 'Ocorreu um erro na atualização da fatura', 'warning');
            });
        }
      });
    },

    getBill () {
      let app = this;
      let id = app.$route.params.id;
      app.bill._id = id;
      this.$axios.get('/bill/' + id)
        .then(function (resp) {
          app.bill = resp.data;
        })
        .catch(function () {
          app.$swal('Erro', 'Ocorreu um erro na inserção da fatura', 'warning');
        });
    },

    getUsers () {
      var app = this;
      this.$axios.get('/user/')
        .then(function (resp) {
          app.users = resp.data;
        })
    }
  }
}
</script>
<style lang="scss" scoped>
  .md-switch {
    display: flex;
  }
</style>
