<template>
  <div>
          <div class="md-layout md-gutter">
            <nav-bar />
          </div>
          <div class="md-layout md-gutter md-alignment-center-center">
            <div class="md-layout-item md-size-85">
                <div class="md-layout-item">
                    <md-table md-card medium>
                    <md-table-toolbar md-size-2>
                        <h1 class="md-title">Faturas</h1>
                    </md-table-toolbar>
                        <md-table-row>
                            <md-table-head>Nome da Empresa</md-table-head>
                            <md-table-head numeric>Valor</md-table-head>
                            <md-table-head>Data de Vencimento</md-table-head>
                            <md-table-head>Pago</md-table-head>
                            <md-table-head>Usuário</md-table-head>
                            <md-table-head>Ação</md-table-head>
                        </md-table-row>
                        <md-table-row v-if="bills.data.length == 0">
                            <md-table-cell colspan="6" align="center">Não foram encontrados registros</md-table-cell>
                        </md-table-row>
                        <md-table-row v-for="(bill, index) in bills.data" :key="bill._id">
                            <md-table-cell md-numeric>{{bill.nameCompany}}</md-table-cell>
                            <md-table-cell>{{bill.value}}</md-table-cell>
                            <md-table-cell><div align="left"><date-picker lang="pt-br" placeholder="Data de Vencimento" disabled format="DD-MM-YYYY" v-model="bill.dueDate" :first-day-of-week="1"></date-picker></div></md-table-cell>
                            <md-table-cell>
                                <span v-if="bill.paid"><i class="fas fa-check-circle"></i></span>
                                <span v-else><i class="far fa-times-circle"></i></span>
                            </md-table-cell>
                            <md-table-cell>{{bill.user.name}}</md-table-cell>
                            <md-table-cell>
                                <router-link :to="{name: 'EditBill', params: {id: bill._id}}" class="fas fa-edit"></router-link>
                                <a href="#"
                                class="fas fa-trash"
                                v-on:click="deleteEntry(bill._id, index)">
                                </a>
                            </md-table-cell>
                        </md-table-row>
                    </md-table>
                </div>
            </div>
          </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      bills: {
        data: []
      }
    }
  },
  mounted () {
    this.getBills();
  },

  methods: {
    getBills () {
      var app = this;
      this.$axios.get('/bill/')
        .then(function (resp) {
          app.bills.data = resp.data;
        })
    },

    deleteEntry (id, index) {
      var app = this;
      app.$swal({
        title: 'Você tem certeza?',
        text: 'Depois de deletar não será mais possível recuperar a fatura!',
        type: 'warning',
        showCancelButton: true,
        cancelButtonText: 'Cancelar'
      })
        .then((willDelete) => {
          if (willDelete.value) {
            this.$axios.delete('/bill/' + id)
              .then(function (resp) {
                app.$swal('Sucesso', 'Sua fatura foi excluida com sucesso!', 'success');
                app.bills.data.splice(index, 1);
                app.getBills();
              })
              .catch(function (resp) {
                app.$swal('Erro', 'Ocorreu um erro ao excluir a fatura!', 'warning');
              });
          }
        });
    }
  }
}
</script>
<style lang="scss" scoped>
  .fa-check-circle {
    color: green;
  }
  .fa-times-circle {
       color: red;
  }
  .fa-trash {
       color: red !important;
  }
</style>
