<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<script>
import NavBar from '@/components/NavBar/NavBar'

export default {
  name: 'App',
  components: {
    NavBar
  }
}

</script>
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.text-danger {
  color: red;
}
</style>
